<main class="page">
  <header>
    <nav class="navbar navbar-dark bg-primary" [ngClass]="{'noite' : horaDia > 18}">
      <div class="container-fluid">
        <a class="navbar-brand mb-0 h1">Car-manager-client</a>
        <button type="button" class="btn btn-warning" (click)="loginPage()">Logout</button>
      </div>
    </nav>


    <div class="filtros-e-busca">
      <input placeholder="TESTE" />
      <button type="button" class="btn btn-primary" (click)="criaCarro()">Cria carro</button>
      <button type="button" class="btn btn-primary" (click)="searchButton()">Search</button>
    </div>
  </header>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Size</th>
        <th scope="col">Color</th>
        <th scope="col">Change</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>

    <tbody id="lista_carros" *ngIf="Cars">
      <tr *ngFor="let car of Cars">
        <td>{{car.size}}</td>
        <td>{{car.color}}</td>
        <td><button id="updateButton" type="button" class="btn btn-info" (click)="updateCar(car)">Update</button></td>
        <td><button id="deleteButton" type="button" class="btn btn-danger" (click)="deleteCar(car)">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <footer class="text-center">
    <a href="https://angular.io/docs" style="text-decoration: none">Documentação</a>
  </footer>

</main>
